.button{
  color: #000;
  flex-direction: row;
  justify-content: space-evenly;
  display: flex;

  
}

.button-decrease{
  background-color: rgb(233, 15, 51);
  padding: 1vh;
  

}
.button-increase{
  background-color: rgb(219, 233, 15);
  padding: 1vh;
  
}